/* Page header */

.dda-header {
  background-color: #005ea2;
}

.dda-header .usa-navbar {
  box-sizing: content-box;
}

@media (min-width: 64em) {
  .dda-header .usa-navbar {
    width: 50%;
  }

  .dda-header .usa-nav__primary > .usa-nav__primary-item > a {
    color: white;
  }
}

.dda-header .usa-logo a {
  color: white;
}

/* Tab control */

.dda-tabs .dda-tabs__heading-container {
  background: white;
  border-bottom: 1px solid #a9aeb1;
  padding: 1rem 1rem 0;
  z-index: 1;
}

.dda-tabs .usa-accordion__heading {
  margin: 0 0.25rem -1px;
}

.dda-tabs .usa-accordion__button {
  background: none;
  padding: 0.5rem 0.75rem;
  border: 1px solid;
  border-color: #a9aeb1 #a9aeb1 transparent;
  border-radius: 0.25rem 0.25rem 0 0;
  text-transform: uppercase;
}

.dda-tabs .usa-accordion__button[aria-expanded="true"] {
  background-color: white;
  pointer-events: none;
  color: #005ea2;
}

.dda-tabs .usa-accordion__button[aria-expanded="false"] {
  border-color: transparent transparent #a9aeb1;
  font-weight: normal;
}

/* Fade for sticky content */
.dda-fade__below:after {
  display: block;
  content: "";
  height: 2rem;
  width: 100%;
  position: absolute;
  transform: translateY(100%);
  bottom: -1px;
  left: 0;
  background: linear-gradient(180deg, rgba(255,255,255,1) 5%, rgba(255,255,255,0) 100%);
}

.dda-fade__above:before {
  display: block;
  content: "";
  height: 2rem;
  width: 100%;
  position: absolute;
  transform: translateY(-100%);
  top: -1px;
  left: 0;
  background: linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(255,255,255,0) 100%);
}
