<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
<style type="text/css">
  h1 {
    display: block;
    font-size: 1.1em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
    
  h2 {
    display: block;
    font-size: 1.1em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  table {
    width:100%;
    border-collapse: collapse;
    margin:5px;
    border: 0px solid black;

  }

  table.borderTable {
    width:100%;
    border: 1px solid black;
  }

  table.borderTable td {
    border: 1px solid black;
    padding: 0.5em;

  }


  table.InnerTable {
    width:100%;
    border: 0px solid black;
    padding: 0em;
    margin: 0em;
  }

  table.InnerTable td {
    border: 0px solid black;
    padding: 0em;
    margin: 0em;

  }


  td.underTitle {
    border-top: 2px dotted gray !important;
    text-align: center;
  }

  .center {
    text-align:center;
  }

  .right {
    text-align:right;
  }
</style>
</head>
<body>
<table>
  <tr>
    <td class="center">
      <h1>United States Government</h1>
      <h1>Interagency Agreement (IAA) – Agreement Between Federal Agencies</h1>
      <h1>General Terms and Conditions (GT&C) Section</h1>
    <td>
  </tr>
  <tr>
    <td>
    <table style="width:50%">
      <tr>
        <td rowspan="2">IAA Number</td>
        <td rowspan="2">&nbsp;</td>
        <td class="center"><!--PROPERTY:GT&C-->GT&C #<!--/PROPERTY:GT&C--></td>
        <td class="center">&nbsp;-&nbsp;</td>
        <td class="center"><!--PROPERTY:GT&C-->Order #<!--/PROPERTY:GT&C--></td>
        <td class="center">&nbsp;-&nbsp;</td>
        <td class="center"><!--PROPERTY:Amendment (Mod) Number-->Amendment/Mod #<!--/PROPERTY:Amendment (Mod) Number--></td>
      </tr>
      <tr>
        <td class="underTitle">GT&C #</td>
        <td>&nbsp;</td>
        <td class="underTitle">Order #</td>
        <td>&nbsp;</td>
        <td class="underTitle">Amendment/Mod #</td>
      </tr>
    </table>  
    <td>
  </tr>
  <tr>
    <td>

      <table class="borderTable">
        <tr>
          <td class="center" colspan="4">
            <h2><!--PROPERTY:Requesting Department or Agency-->DEPARTMENT AND/OR AGENCY<!--/PROPERTY:Requesting Department or Agency--></h2>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="border-bottom: 0px;">1.</td>
          <td>Requesting Agency of Products/Services</td>
          <td>Servicing Agency Providing Products/Services</td>
        </tr>
        <tr>
          <td rowspan="2" style="border-top: 0px;">&nbsp;</td>
          <td>Name</td>
          <td><!--PROPERTY:Requesting Department or Agency-->Dept Agency<!--/PROPERTY:Requesting Department or Agency--></td>
          <td>
            GSA, FAS, Technology Transformation Services, <br>
            Office Of Solutions, cloud.gov 
          </td>
        </tr>
        <tr>
          <td>Address</td>
          <td><!--PROPERTY:Requesting Department or Agency Address-->Dept / Agency Address<!--/PROPERTY:Requesting Department or Agency Address--></td>
          <td>
            1800 F Street N.W. <br>
            Washington D.C. 20405 
          </td>
        </tr>
        <tr>
          <td colspan="4">
            2. Servicing Agency Agreement Tracking Number (Optional): <!--PROPERTY:Servicing Agency Agreement Tracking Number-->Servicing Agency Agreement Tracking Number<!--/PROPERTY:Servicing Agency Agreement Tracking Number-->
          </td>
        </tr>
        <tr>
          <td colspan="4">
            3. Assisted Acquisition Agreement: <!--PROPERTY:Is this an Assisted Acquisition Agreement-->Assisted Acquisition Agreement<!--/PROPERTY:Is this an Assisted Acquisition Agreement-->
          </td>
        </tr>
        <tr>
          <td colspan="4">
            4. GT&C Action (Check action being taken) <br><br>
            <div style="padding-left: 20px; line-height: 15px;">
              New <!--PROPERTY:Is this a New IAA-->New<!--/PROPERTY:Is this a New IAA--> <br> <br>
              Amendment <!--PROPERTY:Is this an Amendment-->Amendment<!--/PROPERTY:Is this an Amendment--> – Complete only the GT&C blocks being changed and explain the changes being made. <br> <br>
              Cancellation <!--PROPERTY:Is this a Cancellation-->Cancellation<!--/PROPERTY:Is this a Cancellation--> – Provide a brief explanation for the IAA cancellation and complete the effective End Date.<br> <br>
          </div>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <table class="InnerTable">
              <tr>
                <td>5. Agreement Period</td>
                <td>&nbsp;</td>
                <td class="right">Start Date</td>
                <td class="center"><!--PROPERTY:Start Date-->Start Date<!--/PROPERTY:Start Date--></td>
                <td class="right">End Date</td>
                <td class="center"><!--PROPERTY:End Date-->End Date<!--/PROPERTY:End Date--></td>
                <td class="center">of IAA or effective cancellation date</td>
              </tr>
              <tr>
                <td colspan="3">&nbsp;</td>
                <td class="underTitle">MM-DD-YYYY</td>
                <td>&nbsp;</td>
                <td class="underTitle">MM-DD-YYYY</td>
                <td>&nbsp;</td>
              </tr>
            </table>  
          </td>
        </tr>
        <tr>
          <td colspan="4">
            6. Recurring Agreement : <!--PROPERTY:Is this a Recurring Agreement--> Yes / No<!--/PROPERTY:Is this a Recurring Agreement--> A Recurring Agreement will continue, unless a notice to discontinue is received. <br>
            <br>
            <table class="InnerTable">
              <tr>
                <td>&nbsp;</td>
                <td>If Yes, is this an:</td>
                <td>&nbsp;</td>
                <td>Annual Renewal: <!--PROPERTY:Is this Annual Renewal-->Yes/No<!--/PROPERTY:Is this Annual Renewal--></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td colspan="3">&nbsp;</td>
                <td>Other Renewal: <!--PROPERTY:Is this other Renewal-->Yes/No<!--/PROPERTY:Is this other Renewal--></td>
                <td>State the other renewal period: <!--PROPERTY:Other renewal period-->Other Period<!--/PROPERTY:Other renewal period--></td>
              </tr>
            </table>  
          </td>
        </tr>
        <tr>
          <td colspan="4">
            7. Agreement Type: <!--PROPERTY:Agreement Type-->Single Order IAA / Multiple Order IAA<!--/PROPERTY:Agreement Type-->
          </td>
        </tr>
        <tr>
          <td colspan="4">
            8. Are Advance Payments Allowed for this IAA <!--PROPERTY:Are Advance Payments allowed-->Yes / No<!--/PROPERTY:Are Advance Payments allowed--> <br>
            If Yes is checked, enter Requesting Agency’s Statutory Authority Title and Citation:<br><br>
            <!--PROPERTY:Requesting Agencys Statutory Authority Title and Citation-->Requesting Agency’s Statutory Authority Title and Citation<!--/PROPERTY:Requesting Agencys Statutory Authority Title and Citation--> <br>
            <br>
            Note: Specific advance amounts will be captured on each related Order.
          </td>
        </tr>
        <tr>
          <td colspan="4">
            9. Estimated Agreement Amount (The Servicing Agency completes all information for the estimated agreement amount.) <br>
            (Optional for Assisted Acquisitions) <br><br>
            <table class="InnerTable">
              <tr>
                <td style="width:50%; border-right: 1px solid gray;">
                  Direct Cost: $<!--PROPERTY:Direct Cost-->0.00<!--/PROPERTY:Direct Cost--> <br>
                  Overhead Fees & Charges: $<!--PROPERTY:Overhead Fees & Charges-->0.00<!--/PROPERTY:Overhead Fees & Charges--> <br>
                  Total Estimated Amount: $<!--PROPERTY:Total Estimated Amount-->0.00<!--/PROPERTY:Total Estimated Amount--> 
                </td>
                <td style="padding-left: 0.5em;">
                  Provide a general explanation of the Overhead Fees & Charges. The estimated agreement amount is based on GSA's actual costs of providing the services under this IAA.  Reimbursement of GSA's actual costs is described further in the Statement of Work.
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            10. STATUTORY AUTHORITY <br>
            <br>
            a. Requesting Agency’s Authority <!--PROPERTY:Requesting Agencys Authority-->Select<!--/PROPERTY:Requesting Agencys Authority--> <br> <br>
            Fill in Statutory Authority Title and Citation for Franchise Fund, Revolving Fund, Working Capital Fund, or Other Authority <br><br>
            <!--PROPERTY:Requesting Agencys Statutory Authority Title and Citation-->Lorem Ipsum<!--/PROPERTY:Requesting Agencys Statutory Authority Title and Citation--> 
            <hr>
            b. Servicing Agency’s Authority <!--PROPERTY:Servicing Agencys Authority-->Select<!--/PROPERTY:Servicing Agencys Authority--> <br> <br>
            Fill in Statutory Authority Title and Citation for Franchise Fund, Revolving Fund, Working Capital Fund, or Other Authority <br><br>
            <!--PROPERTY:Servicing Agencys Statutory Authority Title and Citation-->Lorem Ipsum<!--/PROPERTY:Servicing Agencys Statutory Authority Title and Citation--> 
          </td>
        </tr>
        </tr>
      </table>
    </td>
  </tr>
</table>

  <div class="pure-g">
    <div class="pure-u-1-24"><h1>FMS</h1></div>
    <div class="pure-u-1-24"><b>Form<br>6-10</b></div>
    <div class="pure-u-1-24"><h1>7600A</h1></div>
    <div class="pure-u-21-24 right">
      <b>DEPARTMENT OF THE TREASURY</b><br>
      FINANCIAL MANAGEMENT SERVICE
    </div>
  </div>
</body>
</html>
