<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
<style type="text/css">
  h1 {
    display: block;
    font-size: 1.1em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
    
  h2 {
    display: block;
    font-size: 1.1em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  table {
    width:100%;
    border-collapse: collapse;
    margin:5px;
    border: 0px solid black;

  }

  table.borderTable {
    width:100%;
    border: 1px solid black;
  }

  table.borderTable td {
    border: 1px solid black;
    padding: 0.5em;

  }


  table.InnerTable {
    width:100%;
    border: 0px solid black;
    padding: 0em;
    margin: 0em;
  }

  table.InnerTable td {
    border: 0px solid black;
    padding: 0em;
    margin: 0em;

  }


  td.underTitle {
    border-top: 2px dotted gray !important;
    text-align: center;
  }

  .center {
    text-align:center;
  }

  .right {
    text-align:right;
  }
</style>
</head>
<body>
<table>
  <tr>
    <td class="center">
      <h1>United States Government</h1>
      <h1>Interagency Agreement (IAA) – Agreement Between Federal Agencies</h1>
      <h1>General Terms and Conditions (GT&C) Section</h1>
    <td>
  </tr>
  <tr>
    <td>
    <table style="width:50%">
      <tr>
        <td rowspan="2">IAA Number</td>
        <td rowspan="2">&nbsp;</td>
        <td class="center"><!--PROPERTY:gtnc-->GT&C #<!--/PROPERTY:gtnc--></td>
        <td class="center">&nbsp;-&nbsp;</td>
        <td class="center"><!--PROPERTY:gtnc-->Order #<!--/PROPERTY:gtnc--></td>
        <td class="center">&nbsp;-&nbsp;</td>
        <td class="center"><!--PROPERTY:mod-->Amendment/Mod #<!--/PROPERTY:mod--></td>
      </tr>
      <tr>
        <td class="underTitle">GT&C #</td>
        <td>&nbsp;</td>
        <td class="underTitle">Order #</td>
        <td>&nbsp;</td>
        <td class="underTitle">Amendment/Mod #</td>
      </tr>
    </table>  
    <td>
  </tr>
  <tr>
    <td>

      <table class="borderTable">
        <tr>
          <td class="center" colspan="4">
            <h2><!--PROPERTY:requesting_department_agency-->DEPARTMENT AND/OR AGENCY<!--/PROPERTY:requesting_department_agency--></h2>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="border-bottom: 0px;">1.</td>
          <td>Requesting Agency of Products/Services</td>
          <td>Servicing Agency Providing Products/Services</td>
        </tr>
        <tr>
          <td rowspan="2" style="border-top: 0px;">&nbsp;</td>
          <td>Name</td>
          <td><!--PROPERTY:requesting_department_agency-->Dept Agency<!--/PROPERTY:requesting_department_agency--></td>
          <td>
            GSA, FAS, Technology Transformation Services, <br>
            Office Of Solutions, cloud.gov 
          </td>
        </tr>
        <tr>
          <td>Address</td>
          <td><!--PROPERTY:dept_address-->Dept / Agency Address<!--/PROPERTY:dept_address--></td>
          <td>
            1800 F Street N.W. <br>
            Washington D.C. 20405 
          </td>
        </tr>
        <tr>
          <td colspan="4">
            2. Servicing Agency Agreement Tracking Number (Optional): <!--PROPERTY:tracking_number-->Servicing Agency Agreement Tracking Number<!--/PROPERTY:tracking_number-->
          </td>
        </tr>
        <tr>
          <td colspan="4">
            3. Assisted Acquisition Agreement: <!--PROPERTY:is_aas-->Assisted Acquisition Agreement<!--/PROPERTY:is_ass-->
          </td>
        </tr>
        <tr>
          <td colspan="4">
            4. GT&C Action (Check action being taken) <br><br>
            <div style="padding-left: 20px; line-height: 15px;">
              New <!--PROPERTY:is_new-->New<!--/PROPERTY:is_new--> <br> <br>
              Amendment <!--PROPERTY:is_amendment-->Amendment<!--/PROPERTY:is_amendment--> – Complete only the GT&C blocks being changed and explain the changes being made. <br> <br>
              Cancellation <!--PROPERTY:is_new-->Cancellation<!--/PROPERTY:is_new--> – Provide a brief explanation for the IAA cancellation and complete the effective End Date.<br> <br>
          </div>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <table class="InnerTable">
              <tr>
                <td>5. Agreement Period</td>
                <td>&nbsp;</td>
                <td class="right">Start Date</td>
                <td class="center"><!--PROPERTY:start-->Start Date<!--/PROPERTY:start--></td>
                <td class="right">End Date</td>
                <td class="center"><!--PROPERTY:end-->End Date<!--/PROPERTY:end--></td>
                <td class="center">of IAA or effective cancellation date</td>
              </tr>
              <tr>
                <td colspan="3">&nbsp;</td>
                <td class="underTitle">MM-DD-YYYY</td>
                <td>&nbsp;</td>
                <td class="underTitle">MM-DD-YYYY</td>
                <td>&nbsp;</td>
              </tr>
            </table>  
          </td>
        </tr>
        <tr>
          <td colspan="4">
            6. Recurring Agreement : <!--PROPERTY:is_reoccurring--> Yes / No<!--/PROPERTY:is_reoccurring--> A Recurring Agreement will continue, unless a notice to discontinue is received. <br>
            <br>
            <table class="InnerTable">
              <tr>
                <td>&nbsp;</td>
                <td>If Yes, is this an:</td>
                <td>&nbsp;</td>
                <td>Annual Renewal: <!--PROPERTY:is_reoccurring_annual-->Yes/No<!--/PROPERTY:is_reoccurring_annual--></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td colspan="3">&nbsp;</td>
                <td>Other Renewal: <!--PROPERTY:is_reoccurring_other-->Yes/No<!--/PROPERTY:is_reoccurring_other--></td>
                <td>State the other renewal period: <!--PROPERTY:other_reoccurring-->Other Period<!--/PROPERTY:other_reoccurring--></td>
              </tr>
            </table>  
          </td>
        </tr>
        <tr>
          <td colspan="4">
            7. Agreement Type: <!--PROPERTY:agreement_type-->Single Order IAA / Multiple Order IAA<!--/PROPERTY:agreement_type-->
          </td>
        </tr>
        <tr>
          <td colspan="4">
            8. Are Advance Payments Allowed for this IAA <!--PROPERTY:is_advanced_payments -->Yes / No<!--/PROPERTY:is_advanced_payments --> <br>
            If Yes is checked, enter Requesting Agency’s Statutory Authority Title and Citation:<br><br>
            <!--PROPERTY:advanced_payments_authority_title -->Requesting Agency’s Statutory Authority Title and Citation<!--/PROPERTY:is_advanced_payments --> <br>
            <br>
            Note: Specific advance amounts will be captured on each related Order.
          </td>
        </tr>
        <tr>
          <td colspan="4">
            9. Estimated Agreement Amount (The Servicing Agency completes all information for the estimated agreement amount.) <br>
            (Optional for Assisted Acquisitions) <br><br>
            <table class="InnerTable">
              <tr>
                <td style="width:50%; border-right: 1px solid gray;">
                  Direct Cost: $<!--PROPERTY:direct_cost -->0.00<!--/PROPERTY:direct_cost --> <br>
                  Overhead Fees & Charges: $<!--PROPERTY:fees -->0.00<!--/PROPERTY:fees --> <br>
                  Total Estimated Amount: $<!--PROPERTY:total -->0.00<!--/PROPERTY:total --> 
                </td>
                <td style="padding-left: 0.5em;">
                  Provide a general explanation of the Overhead Fees & Charges. The estimated agreement amount is based on GSA's actual costs of providing the services under this IAA.  Reimbursement of GSA's actual costs is described further in the Statement of Work.
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            10. STATUTORY AUTHORITY <br>
            <br>
            a. Requesting Agency’s Authority <!--PROPERTY:requesting_authority -->Select<!--/PROPERTY:requesting_authority --> <br> <br>
            Fill in Statutory Authority Title and Citation for Franchise Fund, Revolving Fund, Working Capital Fund, or Other Authority <br><br>
            <!--PROPERTY:requesting_authority_title_citation -->Lorem Ipsum<!--/PROPERTY:requesting_authority_title_citation --> 
            <hr>
            b. Servicing Agency’s Authority <!--PROPERTY:servicing_authority -->Select<!--/PROPERTY:servicing_authority --> <br> <br>
            Fill in Statutory Authority Title and Citation for Franchise Fund, Revolving Fund, Working Capital Fund, or Other Authority <br><br>
            <!--PROPERTY:servicing_authority_title_citation -->Lorem Ipsum<!--/PROPERTY:servicing_authority_title_citation --> 
          </td>
        </tr>
        </tr>
      </table>
    </td>
  </tr>
</table>

  <div class="pure-g">
    <div class="pure-u-1-24"><h1>FMS</h1></div>
    <div class="pure-u-1-24"><b>Form<br>6-10</b></div>
    <div class="pure-u-1-24"><h1>7600A</h1></div>
    <div class="pure-u-21-24 right">
      <b>DEPARTMENT OF THE TREASURY</b><br>
      FINANCIAL MANAGEMENT SERVICE
    </div>
  </div>
</body>
</html>
