<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
<style type="text/css">
  h1 {
    display: block;
    font-size: 1.1em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
    
  h2 {
    display: block;
    font-size: 1.1em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  table {
    width:100%;
    border-collapse: collapse;
    margin:5px;
    border: 0px solid black;

  }

  table.borderTable {
    width:100%;
    border: 1px solid black;
  }

  table.borderTable td {
    border: 1px solid black;
    padding: 0.5em;

  }

  p {
    padding-left: 1em;
  }
  table.InnerTable {
    width:100%;
    border: 0px solid black;
    padding: 0em;
    margin: 0em;
  }

  table.InnerTable td {
    border: 0px solid black;
    padding: 0em;
    margin: 0em;

  }


  td.underTitle {
    border-top: 2px dotted gray !important;
    text-align: center;
  }

  .center {
    text-align:center;
  }

  .right {
    text-align:right;
  }
</style>
</head>
<body>
<p>
    <b>IAA# :</b><!--PROPERTY:iaa -->IAA Number<!--/PROPERTY:iaa --><br>
    <b>Order# :</b> <!--PROPERTY:order -->Order Number<!--/PROPERTY:order --><br>
</p>



<h1 class="center">
  U.S. General Services Administration, Federal Acquisition Service,<br>
  Technology Transformation Services, Office of Solutions, cloud.gov <br>
  and <br>
<!--PROPERTY:requesting_department_agency-->DEPARTMENT AND/OR AGENCY<!--/PROPERTY:requesting_department_agency--> <br>
<br>
FORM 7600A, ATTACHMENT 1 <br>
Additional Clauses
</h1>



<p><strong>1.0 Funding and Reimbursement</strong></p>

<p>The servicing agency is limited to recovery of actual costs. The requesting agency and servicing agency will reconcile the underlying volume numbers used to calculate the amounts in this agreement, no later than monthly. Once the volume has been determined, funding under this agreement will be adjusted accordingly. If it is determined that a refund to the requesting agency is necessary, those will be provided via IPAC. </p>

<p>The servicing agency POC will notify the requesting agency POC if it appears that performance will exceed the total estimated costs identified in block 30 of any 7600B issued under this agreement.  The servicing agency also agrees to cease or curtail performance as may be necessary until the cost issue is resolved, and the parties will decide whether they want to amend this IAA or execute a new IAA for any additional work above the estimated agreement amount of this IAA. The servicing agency agrees to use its best efforts to perform the work specified in this Agreement within the not-to-exceed amount.</p>
<p><strong>2.0 Billing Instructions/Support Documentation for Expenditures</strong></p>
<p>The parties agree to the following:  </p>
<p>Billing and reimbursement may be handled through the Intra-governmental Payment and Collection (IPAC) system. The IAA number, the Agency Locator Codes, appropriate accounting code(s), and associated dollar amounts must be referenced on all IPAC transactions or invoices.  The servicing agency shall provide documentation supporting all charges to the requesting agency’s COTR/POC. </p>
<p>Both agencies  agree to promptly discuss and resolve issues and questions regarding payments. The servicing agency will promptly initiate year-end and closeout adjustments once final costs are known.</p>

<p><strong>3.0 Requesting Agency Program Office Responsibilities</strong></p>

<p>The requesting agency POC and the servicing agency program office shall be responsible for technical oversight of the specified services. In carrying out these responsibilities, they will operate within the scope of applicable regulations, specifically delegated authorities, and the program authorities and funding limitations of the IAA. The POC has no authority to make changes to the terms of the IAA.</p>

<p><strong>4.0 Project Completion and Closeout</strong></p>
<p>When the requesting agency has accepted all deliverables related to the IAA, the servicing agency will provide a final accounting of project costs to the requesting agency CO. The servicing agency account will then be closed and any remaining funds will be returned to the requesting agency immediately. After final accounting, the remaining balance in the project account will be de-obligated by IAA modification.</p>

<p><strong>5.0 Accessibility of Electronic and Information Technology</strong></p>
<p>Each Electronic and Information Technology (EIT) product or service furnished under this agreement shall comply with the Electronic and Information Technology Accessibility Standards (36 CFR 1194), which implements section 508 of the Rehabilitation Act of 1973, as amended (29 U.S.C. 794d).</p>

<p><strong>6.0 Free and Open Source Policy</strong></p>
<p>The requesting agency acknowledges the servicing agency’s commitment to free and open source principles which may be found in the link below. </p>

<p>github.com/18F/open-source-policy/blob/master/policy.md</p>

<p><strong>7.0 Communications</strong></p>
<p>The requesting agency acknowledges that the servicing agency may write or speak about work or the process of creating such work in blog posts, case studies or other means of communication. </p>

<p><strong>8.0 FITARA Review</strong></p>
<p>If required by FITARA and requesting agency policy, the requesting agency acknowledges that a FITARA review was conducted by the requesting agency Office of Chief Information Officer.</p>

<p><strong>9.0 Design Research</strong></p>
<p>The requesting agency acknowledges the servicing agency’s commitment to human-centered design, specifically its practice of design research. Design research broadens perspectives and tests assumptions by actively and systematically engaging with the world. </p>
<p>
The requesting agency acknowledges and agrees that: </p>

<ol type="A">
  <li>The servicing agency shall conduct design research as authorized by Executive Order 13571, <i>Streamlining Service Delivery and Improving Customer Service,</i> Section 2 (B). </li>
  <li>In its conduct of design research, the servicing agency may:</li>
  <ol type="i">
    <li>Interact with federal employees, contractors, and members of the public. </li>
    <li>Access sensitive information and personally identifiable information. </li>
    <li>Seek approval for its information collection instruments under the Paperwork Reduction Act of 1995 (PRA). The servicing agency shall collaborate with PRA desk officers at the requesting agency, as appropriate.</li>
  </ol>
    <li>The servicing agency shall notify the requesting agency about the nature and scope of its design research studies. The requesting agency is responsible for communicating the nature and scope of design research studies to its labor unions, if applicable.</li>
    <li>The servicing agency has conducted a privacy impact assessment (PIA) for design research to fully identify and mitigate potential privacy risks. The servicing agency’s design research PIA is located at: <u>https://gsa.gov/portal/content/102237</u></li>
    <li>The servicing agency shall provide access to and transfer ownership of design research-related data on a need-to-know basis in accordance with the principles outlined in its design research PIA.<strong></strong></li>
</ol>
</body>
</html>
