<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
<style type="text/css">
  h1 {
    display: block;
    font-size: 1.1em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
    
  h2 {
    display: block;
    font-size: 1.1em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  table {
    width:100%;
    border-collapse: collapse;
    margin:5px;
    border: 0px solid black;

  }

  table.borderTable {
    width:100%;
    border: 1px solid black;
  }

  table.borderTable td {
    border: 1px solid black;
    padding: 0.5em;

  }

  p {
    padding-left: 1em;
  }
  table.InnerTable {
    width:100%;
    border: 0px solid black;
    padding: 0em;
    margin: 0em;
  }

  table.InnerTable td {
    border: 0px solid black;
    padding: 0em;
    margin: 0em;

  }


  td.underTitle {
    border-top: 2px dotted gray !important;
    text-align: center;
  }

  .center {
    text-align:center;
  }

  .right {
    text-align:right;
  }
</style>
</head>
<body>
<p>
    <b>IAA# :</b><!--PROPERTY:iaa -->IAA Number<!--/PROPERTY:iaa --><br>
    <b>Order# :</b> <!--PROPERTY:order -->Order Number<!--/PROPERTY:order --><br>
</p>



<h1 class="center">
  U.S. General Services Administration, Federal Acquisition Service,<br>
  Technology Transformation Services, Office of Solutions, cloud.gov <br>
  and <br>
<!--PROPERTY:requesting_department_agency-->DEPARTMENT AND/OR AGENCY<!--/PROPERTY:requesting_department_agency--> <br>
<br>
FORM 7600A, ATTACHMENT 1 <br>
Additional Clauses
</h1>


								</p>
<p><strong><u>STATEMENT OF WORK FOR TTS SERVICES TO BE PROVIDED TO </strong></u><strong><u>AGENCY, OFFICE</strong></u></p>
<p><strong>1.0.	BACKGROUND</strong></p>

<p>The U.S. General Services Administration (the Servicing Agency), through the Technology Transformation Services (TTS) within the Federal Acquisitions Service (FAS), builds effective, user-centric digital services focused on the interaction between Government and the people and businesses it serves. TTS helps agencies deliver on their mission through the development of digital and web services.</p>

<p>Cloud.gov is a platform-as-a-service developed by TTS to help federal agencies deliver digital services and operate efficiently at-scale in a cloud-hosted environment.  Cloud.gov automates the security settings for any web service and configures the service to meet federal security requirements. Cloud.gov also provides agencies with a user interface that displays data such as usage metrics and how many servers are running to allow agencies to easily monitor and manage their usage of cloud services, which would otherwise require multiple layers of staffing. Cloud.gov provides agencies with templates for cloud security documentation to make the Authority to Operate (ATO) process more efficient for agencies. </p>

<p>TTS will provide access to the cloud.gov platform and its capabilities and maintains the cloud.gov platform and infrastructure security compliance up to the application level and agencies access the platform on a self-service level to host their systems. </p>

<p>The Requesting Agency, for purposes of this Statement of Work (SOW), is the AGENCY (AGENCY Acronym), (office). Agency, Office seeks access to cloud.gov in order to provide efficient hosting and achieve cost savings in deployment of software using cloud services.</p>

<p><strong>2.0	</strong><strong>SCOPE OF WORK</strong><strong> AND DELIVERABLES</strong></p>

<p>TTS will:</p>
<p> </p>
<p>1.    Provide Requesting Agency access to the cloud.gov platform and its capabilities. </p>
<p>2.    Provision the Requesting Agency with the appropriate user accounts for cloud.gov and supporting cloud services</p>
<p>3.    Provide the Requesting Agency with the login credentials for cloud.gov and supporting cloud services</p>
<p>4.  Provide the Requesting Agency usage logs for cloud.gov and supporting cloud services</p>
<p>5. Provide the Requesting Agency with a basic level of support that includes on-site training, portfolio analysis, replatforming assistance, priority support, and co-development of custom services (Note: additional support is available on a reimbursable basis)</p>
<p> 6. TTS will supply the Requesting Agency with monthly billing statements and will provide status updates upon request by the Requesting Agency.</p>

<p><strong>3.0	REIMBURSEMENT</strong></p>

<p>Reimbursement for the above listed deliverables is to be provided on an actual cost basis. The total funding amount for this order will be listed in Block 30 in the Form 7600B. Actual cost means GSA’s direct and indirects costs of providing services under this agreement including (1) labor costs, charged at current rates (2) non-labor costs such as infrastructure, hosting, travel expenses, material purchases, unanticipated incidental costs, and other related expenses under this agreement.</p>

<p>Cloud.gov will provide hosting services, including access package fees and memory quota fees, with pricing as described on the Cloud.gov website (<u>https://cloud.gov/pricing/</u>). Cloud.gov will notify the Requesting Agency of changes to the price at least 30 days before the agreement is up for renewal.</p>

<p>The following cost breakdown is an estimate based on the access package you select and expected memory usage. TTS will be reimbursed for the actual usage costs based on the amount of memory (RAM) that you reserve for your system. The Requesting Agency can change the service (such as number or type of access packages and amount of usage) during the agreement by requesting the change via email to Cloud.gov (<u>https://cloud.gov/docs/help/</u>). A change in the service will likely impact the agreement amount and require an amendment to this agreement. </p>

<p><strong>Estimated </strong><strong>Cost Breakdown:</strong></p>

<ul><li>Access Package Fee: $XXX,XXX.XX</li></ul></ul>

<ul><li>(X months of Prototyping, FISMA Low, FISMA Moderate): </li></ul></ul>

<li>Estimated Memory Quota: $XXX,XXX.XX</li></ul>

<ul><li>(XGB/Month for X months):</li></ul></ul>

<li>Additional Support: $XXX,XXX.XX</li></ul>

<p>(Parties will select the option that applies to this transaction)</p>

<ul><li><u>Basic Support (current)</u> - This is the <u>support level TTS currently provides on its existing cloud.gov agreements</u>. If you run into any issues with the underlying cloud.gov platform, we will resolve them at no additional cost. If you run into technical problems with your application, we can point you to useful resources but cannot devote meaningful time on your applications.</li></ul></ul>

<ul><li><u>Supplemental Support ($41,250/year)</u> - This package includes all services provided in <i>Basic Support, </i>plus 150hrs of support time that our engineers can devote to resolving issues with your specific applications.</li></ul></ul>

<ul><li><u>Premium Support ($165,000/year)</u> - This package includes all services provided in <i>Basic Support, </i>plus 600hrs of support time  that our engineers can devote to resolving issues with your specific applications.The Requesting Agency will also have the option for a bi-weekly standing meeting with our engineers.</li></ul></ul>

<p><strong>Total cost</strong>: $XXX,XXX.XX</p>


<p><strong>4.0	DELIVERABLE TIMELINE</strong></p>

<p>The Servicing Agency shall deliver to the Requesting Agency the following:</p>

<p><strong>Item</strong></p><p><strong>Due By</strong></p><p>Distribution of credentials to Requesting Agency users</p><p>< 10 business days after agreement is executed</p><p>Operation & Maintenance of the cloud.gov platform and Cost Tracking</p><p>Ongoing</p>

<p><strong>5.0	USE OF CONTRACT SERVICES</strong></p>

<p>GSA TTS may, consistent with law, delegated authorities, and applicable policy guidance, use contract services in fulfilling the agreed upon deliverables with advance notice to the Requesting Agency.</p>

<p><strong>6.0	PROJECT STATUS AND REPORTING</strong></p>

<p>GSA TTS will provide regular status updates of recent accomplishments, planned activities, and risks and issues.  </p>

<p><strong>7.0   	REQUESTING AGENCY RESPONSIBILITIES</strong></p>
<p> </p>
<p>The requesting agency is responsible for obtaining an Authority to Operate (ATO) for the application if required by the requesting agency, and the security of the application is owned by the requesting agency.<strong> </strong>Additionally, the requesting agency is responsible for notifying the Cloud.gov team of any breach of the applications hosted on cloud.gov within 24 hours of the breach (cloud-gov-support@gsa.gov). The requesting agency will cooperate with any GSA request to resolve the breach.</p>

</body>
</html