<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_003{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_002{font-family:Arial,serif;font-size:10.0px;color:rgb(61,61,61);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:10.0px;color:rgb(61,61,61);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
</head>
<body>
<div style="position:absolute;left:0px;top:0px"></div>
<div style="position:absolute;left:36.00px;top:35.16px" class="cls_003"><span class="cls_003">EDMS Tracking #:  ______________________________</span></div>
<div style="position:absolute;left:36.00px;top:55.80px" class="cls_003"><span class="cls_003">Package Type:  ______________________________</span></div>
<div style="position:absolute;left:36.00px;top:76.56px" class="cls_003"><span class="cls_003">Package/Plan Title: <!--PROPERTY:title-->Title<!--/PROPERTY:title--> <br></span></div>
<div style="position:absolute;left:36.00px;top:105.84px" class="cls_003"><span class="cls_003">Requesting Agency: <!--PROPERTY:requesting_department_agency-->DEPARTMENT AND/OR AGENCY<!--/PROPERTY:requesting_department_agency--> <br></span></div>
<div style="position:absolute;left:36.00px;top:126.60px" class="cls_003"><span class="cls_003">Requesting Agency Brach/Section: ______________________________ </span></div>
<div style="position:absolute;left:36.00px;top:147.24px" class="cls_003"><span class="cls_003">Requesting Agency Tracking #:  <!--PROPERTY:tracking_number-->Tracking Number<!--/PROPERTY:tracking_number--></span></div>
<div style="position:absolute;left:36.80px;top:168.00px" class="cls_003"><span class="cls_003">Order # <!--PROPERTY:order-->Order #<!--/PROPERTY:order-->      Modification # __________</span></div>
<div style="position:absolute;left:36.00px;top:197.28px" class="cls_003"><span class="cls_003">Servicing Agency:  ________________________________________</span></div>
<div style="position:absolute;left:36.00px;top:218.04px" class="cls_003"><span class="cls_003">Servicing Agency Brach/Section: ________________________________________</span></div>
<div style="position:absolute;left:36.00px;top:238.68px" class="cls_003"><span class="cls_003">Servicing Agency Tracking #:  ______________________________</span></div>
<div style="position:absolute;left:52.80px;top:259.44px" class="cls_003"><span class="cls_003">Order # __________     Modification # __________</span></div>
<div style="position:absolute;left:220.68px;top:311.88px" class="cls_004"><span class="cls_004">GSA Chief Information Officer</span></div>
<div style="position:absolute;left:153.00px;top:327.72px" class="cls_004"><span class="cls_004">Federal Information Technology Reform Act (FITARA)</span></div>
<div style="position:absolute;left:285.24px;top:343.56px" class="cls_004"><span class="cls_004">Review</span></div>
<div style="position:absolute;left:36.00px;top:375.36px" class="cls_003"><span class="cls_003">In accordance with the Federal Information Technology Acquisition Reform Act (FITARA), Chief</span></div>
<div style="position:absolute;left:36.00px;top:391.20px" class="cls_003"><span class="cls_003">Information Officers (CIOs) are required to perform a vital role in agency information technology (IT)</span></div>
<div style="position:absolute;left:36.00px;top:407.04px" class="cls_003"><span class="cls_003">decisions, including annual and multi-year planning, programming, budgeting, and executing</span></div>
<div style="position:absolute;left:36.00px;top:422.88px" class="cls_003"><span class="cls_003">decisions, and the management, governance, and oversight processes related to information</span></div>
<div style="position:absolute;left:36.00px;top:438.72px" class="cls_003"><span class="cls_003">technology.</span></div>
<div style="position:absolute;left:36.00px;top:470.52px" class="cls_003"><span class="cls_003">In implementing this requirement, CIO 2101.1, GSA Enterprise Information Technology Management</span></div>
<div style="position:absolute;left:36.00px;top:486.36px" class="cls_003"><span class="cls_003">(ITM) Policy requires the GSA CIO (or his delegate in the case of non-major IT investments as</span></div>
<div style="position:absolute;left:36.00px;top:502.20px" class="cls_003"><span class="cls_003">defined in FITARA) to review and approve all contracts or other agreements for IT or IT services</span></div>
<div style="position:absolute;left:36.00px;top:518.16px" class="cls_003"><span class="cls_003">where GSA is responsible for managing, hosting, or funding the work, to include contracts or</span></div>
<div style="position:absolute;left:36.00px;top:534.00px" class="cls_003"><span class="cls_003">agreements with external organizations or on their behalf that leverage GSA IT platforms, security or</span></div>
<div style="position:absolute;left:36.00px;top:549.84px" class="cls_003"><span class="cls_003">infrastructure.  The purpose of this attachment is to signify that the GSA CIO has reviewed and</span></div>
<div style="position:absolute;left:36.00px;top:565.68px" class="cls_003"><span class="cls_003">approved the above-referenced contract or other agreement for IT or IT services.</span></div>
<div style="position:absolute;left:36.05px;top:629.30px" class="cls_003"><span class="cls_003">______________________________, ________________________________________</span></div>
<div style="position:absolute;left:36.05px;top:650.06px" class="cls_003"><span class="cls_003">General Services Administration</span></div>
<div style="position:absolute;left:36.00px;top:732.24px" class="cls_002"><span class="cls_002">General Services Administration</span></div>
<div style="position:absolute;left:36.00px;top:743.76px" class="cls_002"><span class="cls_002">FITARA Approval Memo dtd 20181015</span></div>


</body>
</html>
