{% extends 'base_uswds.html' %}

{% block content %}

<div class="grid-container usa-section">
    <h1 class="text-primary">Sign in</h1>

    {% if form.non_field_errors %}
        <div class="usa-alert usa-alert--error" role="alert">
            <div class="usa-alert__body">
                <h3 class="usa-alert__heading">Sign in failed.</h3>
                <ul class="usa-alert__text">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <form class="usa-form" method="POST">
        {% csrf_token %}
        <fieldset class="usa-fieldset">
            <legend class="usa-sr-only">Sign in</legend>

            <label class="usa-label" for="username">Username</label>
            <input class="usa-input" id="username" name="username" type="text" autocapitalize="off" autocorrect="off" required>

            <label class="usa-label" for="password-sign-in">Password</label>
            <input class="usa-input" id="password-sign-in" name="password" type="password" required>
            <p class="usa-form__note"><a title="Show password" href="javascript:void(0);" class="usa-show-password" aria-controls="password-sign-in">Show password</a></p>

            <input class="usa-button" type="submit" value="Sign in">
        </fieldset>
    </form>
</div>

{% endblock %}
