{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta block -->
        <title>{% block title %}Data Driven Acquisitions{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="OIA Acquisitions">
        <!-- end meta block -->

        <link rel="stylesheet" type="text/css" href="{% static '/css/uswds.css' %}">
        <script src="{% static '/js/uswds.js' %}"></script>
        {% block additional_head %} {% endblock %}
    </head>
    <body class="bg-base-lightest">
        <a class="usa-skipnav" href="#main-content">Skip to main content</a>
        <div class="usa-overlay"></div>

        <header class="usa-header usa-header--basic bg-white">
            <div class="usa-nav-container">
                <div class="usa-navbar">
                    <div class="usa-logo" id="basic-logo">
                        <em class="usa-logo__text"><a href="/" title="Home" aria-label="Home">Data Driven Acquisitions</a></em>
                    </div>
                    <button class="usa-menu-btn">Menu</button>
                </div>
                <nav aria-label="Primary navigation" class="usa-nav">
                    <button class="usa-nav__close"><img src="{% static '/img/close.svg' %}" alt="close"></button>
                    <ul class="usa-nav__primary usa-accordion">
                        <li class="usa-nav__primary-item">
                            <a class="usa-nav__link" href="{% url 'logout' %}"><span>Logout</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <main id="main-content">
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
