{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- meta block -->
        <title>{% block title %}Data Driven Acquitions{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
        <meta name="description" content="OIA Acquistions">
        <!-- end meta block -->
        <link rel="stylesheet" href="{% static '/dxhtml/codebase/suite.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/data_driven_acquisition.css' %}">
        <script type="text/javascript" src="{% static '/dxhtml/codebase/suite.js' %}"></script>
        <meta charset="utf-8">
        {% block addtional_head %} {% endblock %}
    </head>
    <body>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>

