{% extends 'base_with_sidebar.html' %}
{% load static %}

{% block title %}{{ file.name }} | {{ block.super }}{% endblock %}

{% block additional_head %}
    <script src="{% static '/sheets/webix/webix.js' %}" type="text/javascript"></script>
    <script src="{% static '/sheets/spreadsheet.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/sheets/webix/webix.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/sheets/spreadsheet.css' %}">
{% endblock %}


{% block mainbar %}

{% if can_edit %}
    <h1 class="text-primary">
        <button class="usa-button usa-button--outline float-right" id='save_sheet' type="button">Save</button>
        {% csrf_token %}
        Editing {{ file.name }}
    </h1>
{% else %}
    <h1 class="text-primary">Viewing {{ file.name }}</h1>
{% endif %}

<div id='file_store' class="width-full" style='height:75vh;'></div>

<script>
    webix.ready(function () {
        // object constructor
        webix.ui({
            view: 'spreadsheet',
            id: 'ssheet',
            container: 'file_store',
            liveEditor: true,
            menu: false,
            bottombar: true,
            toolbar: 'full',

            // loaded data object
            data: {{ file.content|safe }}
        });

        $$('ssheet').attachEvent('onCellChange', function (row, column, value) {
            $('#save_sheet').removeClass('usa-button--outline');
        });

        $('#save_sheet').click(function () {
            var sheet_data = $$('ssheet').serialize({sheets: true});

            // Cleanup up driver element that trigger this bug
            // https://forum.webix.com/discussion/36947/spreadsheet-insert-column-row-not-working
            for (var sheet in sheet_data) {
                if (sheet_data[sheet].hasOwnProperty('driver')) {
                    console.log(sheet_data[sheet]['driver']);
                    delete sheet_data[sheet]['driver']
                }
            }

            $.ajax({
                type: 'POST',
                url: '{% url 'rawfile' file.id %}',
                data: {'rawdata': JSON.stringify(sheet_data)},
                headers: { 'X-CSRFToken': $('[name=csrfmiddlewaretoken]').val() },
                success: function () {
                    $('#save_sheet').addClass('usa-button--outline');
                },
            });
        });
    });
</script>

{% endblock %}
