{% extends 'home.html' %}
{% load static %}

{% block title %}DDA - Package{% endblock %}

{% block addtional_head %} 
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

{% endblock %}


{% block meat %}


<div id='file_header' class="card">
    {% if can_edit %}
        <h4> Editing {{ file.name }}</h4>
    {% else %}
        <h4> Viewing {{ file.name }}</h4>
    {% endif %}
</div>


<div id='file_store' class="card">
    {% if can_edit %}
        <form method="post">
            <div id="editor"></div>
            {% csrf_token %}
        </form>

    {% else %}
        <iframe id="file_viewer" src="{{ raw_url }}"></iframe>
    {% endif %}
</div>
{% endblock %}


{% block extra_script %}
  tinymce.init({
    selector: '#editor',
    height: '75vh',
    plugins: "save",
    menubar: 'file edit view insert format tools table tc help',
    toolbar: 'save | undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist checklist | forecolor backcolor casechange permanentpen formatpainter removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media pageembed template link anchor codesample | a11ycheck ltr rtl | showcomments addcomment',
  });

$.get("{{ raw_url }}", function(content) { 
    tinyMCE.activeEditor.setContent(content);
});

{% endblock %}
