<label class="usa-label" for="name">Acquisition name</label>
<input name="name" type="text" id="name" value="{{package.name}}" class="usa-input"{% if not can_edit %} disabled{% endif %}>

{% if package_status %}
    <label class="usa-label" for="status">Package status</label>
    <select class="usa-select" id="status" name="status"{% if not can_edit %} disabled{% endif %}>
        <option value="">- Select -</option>
        {% for opt in package_status %}
            <option value="{{opt}}" {% if package.status == opt %}selected{% endif %}>{{opt}}</option>
        {% endfor %}
    </select>
{% endif %}

{% for tab, props in tab_dict.items %}
    <fieldset id="{{tab | slugify}}" class="usa-fieldset margin-y-6">
        <legend class="usa-legend text-primary font-sans-lg padding-top-2">{{tab}}</legend>
        {% for prop in props %}
            <label for="{{prop.name}}_id" class="usa-label text-bold">{{prop.name}}</label>
            <p class="usa-hint maxw-mobile-lg" id="{{prop.name}}_help">{{prop.description}}</p>

            {% if prop.widget == 'textarea' %}
                <textarea name="prop_{{prop.id}}" class="usa-textarea" id="{{prop.name}}_id" aria-describedby="{{prop.name}}_help"{% if not can_edit %} disabled{% endif %}>{{prop.value|default:""}}</textarea>
            {% elif prop.widget == 'radio' %}
                <fieldset class="usa-fieldset">
                    <legend class="usa-sr-only">{{prop.name}}</legend>
                    {% for opt in prop.options %}
                        <div class="usa-radio">
                            <input class="usa-radio__input" id="{{prop.name}}_{{opt}}_id" value="{{opt}}" type="radio" name="prop_{{prop.id}}"{% if prop.value == opt %} checked{% endif %}{% if not can_edit %} disabled{% endif %}>
                            <label class="usa-radio__label" for="{{prop.name}}_{{opt}}_id">{{opt}}</label>
                        </div>
                    {% endfor %}
                </fieldset>
            {% elif prop.widget == 'dropdown' %}
                <select name="prop_{{prop.id}}" class="usa-select" id="{{prop.name}}_id" aria-describedby="{{prop.name}}_help"{% if not can_edit %} disabled{% endif %}>
                    <option value="">- Select -</option>
                    {% for opt in prop.options %}
                        <option value="{{opt}}" {% if prop.value == opt %}selected{% endif %}>{{opt}}</option>
                    {% endfor %}
                </select>
            {% else %}
                <input name="prop_{{prop.id}}" type="text" class="usa-input" id="{{prop.name}}_id" value="{{prop.value|default:""}}" aria-describedby="{{prop.name}}_help"{% if not can_edit %} disabled{% endif %}>
            {% endif %}
        {% endfor %}
    </fieldset>
{% endfor %}
