{% extends 'base.html' %}
{% load static %}

{% block title %}DDA - Home{% endblock %}

{% block addtional_head %} 

{% endblock %}

{% block content %}

<div class="wrapper" style="width=100%; min-height: 100%; min-height: 100vh; ">

    <!-- Sidebar -->
    <nav id="sidebar">
        {% block sidebar %}
        <div class="sidebar-header">
        <h3>New Acquisition</h3>
        </div>
        <div id="new_package">
            <div class="row">
                <div class="col">
                    <select
                        class="form-control"
                        id="new_package_id">
                        <option value="">  --  Please Select --  </option>
                        {% for opt in templates %}
                            <option value="{{opt.id}}">{{opt}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-info" id="create_package"  style="display:inline">Create</button>
                </div>
            </div>
        </div>
        <div class="sidebar-header">
        <h3>My Acquisitions</h3>
        </div>
        <ul class="list-unstyled components acqs">
            {{ tree_ul|safe }}
        </ul>
        {% endblock %}
    </nav>

    <!-- Page Content -->
    <div id="meat">
        {% block meat %}
            <img style="padding-left:100px;" src="{% static '/img/papers-3819540_640.jpg' %}">
        {% endblock %}
    </div>

</div>       



<script>
$(document).ready(function () {

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
        $('#meat').toggleClass('full');
    });

    $("#create_package").on('click', function () {
        var template_id = $("#new_package_id").find(":selected").val();
        if (template_id != "") {
            document.location.href = '/new/'+template_id+'/';
        }
    });

    {% block extra_script %}{% endblock %}


});
</script>

{% endblock %}

