{% extends 'base_uswds.html' %}
{% load static %}

{% block body_class %}bg-base-lightest{% endblock %}

{% block content %}

<div class="grid-container usa-section">
    <h1 class="text-primary">My Acquisitions</h1>

    <div class="grid-row">
        <div class="bg-primary-lighter border border-base-light padding-2 desktop:grid-col-6 tablet:grid-col-8">
            <h2 class="margin-y-0 text-primary">Add a new acquisition</h2>

            <form action="{% url 'new' %}" method="GET">
                <div class="grid-row flex-align-end grid-gap-1">
                    <div class="grid-col">
                        <label class="usa-label" for="new_template_id">Acquisition type</label>
                        <select class="usa-select" name="template_id" id="new_template_id" required>
                            <option value="">- Select -</option>
                            {% for opt in templates %}
                                <option value="{{opt.id}}">{{opt}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="grid-col-auto">
                        <button class="usa-button">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if packages|length == 0 %}
        <div class="grid-row margin-top-4">
            There are no acquisitions.
        </div>
    {% else %}
        <div class="margin-top-4 bg-white padding-2 border border-base-light">
            <h2 class="text-uppercase font-sans-sm margin-0">Filter</h2>
            <form method="GET">
                <div class="grid-row grid-gap-1 flex-align-end">
                    <div class="grid-col">
                        <label class="usa-label" for="status">Status</label>
                        <select class="usa-select" id="status" name="status">
                            <option value="">- Select -</option>
                            {% for opt in statuses %}
                                <option value="{{opt}}" {% if status == opt %}selected{% endif %}>{{opt}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="grid-col">
                        <label class="usa-label" for="owner">Owner</label>
                        <input type="text" class="usa-input" id="owner" name="owner" value="{{owner|default:''}}">
                    </div>
                    <div class="grid-col">
                        <label class="usa-label" for="partner">Partner</label>
                        <select class="usa-select" id="partner" name="partner">
                            <option value="">- Select -</option>
                            {% for opt in partners %}
                                <option value="{{opt}}" {% if partner == opt %}selected{% endif %}>{{opt}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="grid-col-auto">
                        <button class="usa-button">Filter</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="grid-row margin-top-4">
            <table class="usa-table usa-table--borderless width-full">
                <thead>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Partner</th>
                </thead>
                <tbody>
                    {% for package in packages %}
                        <tr>
                            <td><a href="{% url 'package' package_id=package.id %}">{{ package.id }}</a></td>
                            <td><a href="{% url 'package' package_id=package.id %}">{{ package.name }}</a></td>
                            <td>{{ package.status }}</td>
                            <td>{{ package.office_team }}</td>
                            <td>{{ package.agency_partner }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>

{% endblock %}

