{% extends 'base.html' %}
{% load static %}

{% block title %}New {{ template.title }}{{block.super}}{% endblock %}

{% block sidenav_first_item %}
    <li class="usa-sidenav__item">
        <a href="#main-content" class="usa-current">Acquisition properties</a>
        <ul class="usa-sidenav__sublist">
            {% for tab, tab_name in tabs.items %}
                <li class="usa-sidenav__item">
                    <a href="#{{ tab }}">{{tab_name}}</a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block mainbar %}

<h1 class="text-primary">New {{ template.title }}</h1>

{% include 'form_status.html' %}

<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="template_id" value="{{template.id}}">

    {% include 'form.html' %}

    <div class="grid-row margin-top-3 padding-y-4 position-sticky bottom-0 bg-white dda-fade__above border-top-1px border-base-light">
        <button class="usa-button">Save properties</button>
    </div>
</form>

{% endblock %}
