{% extends 'base.html' %}
{% load static %}

{% block title %}New Acquistion | {{block.super}}{% endblock %}

{% block content %}

<div class="grid-container usa-section">
    <h1 class="text-primary">New {{ template.title }}</h1>

    {% include 'form_status.html' %}

    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="template_id" value="{{template.id}}">

        {% include 'form.html' %}

        <div class="grid-row margin-top-3 padding-y-4 position-sticky bottom-0 bg-white dda-fade__above border-top-1px border-base-light">
            <button class="usa-button">Save properties</button>
        </div>
    </form>
</div>

{% endblock %}
