{% extends 'home.html' %}
{% load static %}

{% block title %}DDA - Acquistion {{ package.id }} - {{ package.name }}{% endblock %}

{% block addtional_head %} 
{% endblock %}


{% block meat %}


<div id='package_header' class="card">
    {% if can_edit %}
    <h2> Edditing Acquistion {{ package.id }} - {{ package.name }}</h2>
    {% else %}
    <h2> Viewing Acquistion {{ package.id }} - {{ package.name }}</h2>
    {% endif %}

    {% if can_push %}
    <button type="submit" class="btn btn-danger" id="do_update">Update content</button>
    <small>Click here to push the properties into all document in this package.</small>
    {% else %}
    <small>You cannot push updates to the contect of this package.</small>
    {% endif %}
</div>

{% if updated %}
    {% if form_errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Erros encoutered while updating package.<br>
        <ul>
            {% for err in form_errors %}
            <li>{{ err }}</li>
            {% endfor %}
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        Package was updated successfully.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endif %}

{% endif %}

<div id='package_form' class="card">
<form method="post">
  {% if can_edit %}
    <button type="submit" class="btn btn-primary">Save properties</button>
  {% endif %}
    {% csrf_token %}
  <div class="form-group">
    <label for="name">Package Name</label>
    <input name="name" type="text" class="form-control" id="name" value="{{package.name}}" aria-describedby="nameHelp" placeholder="Acq name">
    <small id="nameHelp" class="form-text text-muted">Name of acquistion project.</small>
  </div>
  <div class="form-group">
    <label for="name">Package Status</label>
    <select
        class="form-control"
        id="status"
        name="status">
        <option value="">  --  Please Select --  </option>
        {% for opt in package_status %}
          <option value="{{opt}}" {% if package.status == opt %}selected{% endif %}>{{opt}}</option>
        {% endfor %}
    </select>
  </div>
  <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    {% for tab, tab_name in tabs.items %}
        <a class="nav-item nav-link" id="nav-{{tab}}-tab" data-toggle="tab" href="#nav-{{tab}}" role="tab" aria-controls="nav-{{tab}}" aria-selected="false">{{tab_name}}</a>
    {% endfor %}
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
{% for tab, props in tab_dict.items %}
  <div class="tab-pane fade" id="nav-{{tab}}" role="tabpanel" aria-labelledby="nav-{{tab}}-tab">
  
  {% for prop in props %}
  <div class="form-group row">
    <label for="{{prop.name}}_id" class="col-sm-3 col-form-label" >{{prop.name}}</label>
    <div class="col-sm-9">
        {% if prop.widget == 'textarea' %}
        <textarea 
            name="prop_{{prop.id}}"
            class="form-control rounded-0"
            id="{{prop.name}}_id"
            aria-describedby="{{prop.name}}Help"
            rows="5">{{prop.value|default:""}}</textarea>

        {% elif prop.widget == 'dropdown' %}

        <select
            name="prop_{{prop.id}}"
            class="form-control"
            id="{{prop.name}}_id"
            aria-describedby="{{prop.name}}Help">
            <option value=""></option>
            {% for opt in prop.options %}
                <option value="{{opt}}" {% if prop.value == opt %}selected{% endif %}>{{opt}}</option>
            {% endfor %}
        </select>
        {% else %}
        <input 
            name="prop_{{prop.id}}"
            type="text"
            class="form-control"
            id="{{prop.name}}_id"
            value="{{prop.value|default:""}}"
            aria-describedby="{{prop.name}}Help">
        {% endif %}
    <small id="{{prop.name}}Help" class="form-text text-muted">({{ prop.property_type}}) {{prop.description}}</small>
    </div>
  </div>
  {% endfor %}



  </div>
  {% endfor %}
</div>

  
  {% if can_edit %}
    <button type="submit" class="btn btn-primary">Save properties</button>
  {% endif %}
</form>
</div>
{% endblock %}


{% block extra_script %}

    $('#do_update').on('click', function () {
        $.ajax({
            url: "/package/{{ package.id }}/",
            type: "PUT",
            cache:false,
            success: function(resp){
                alert (resp.status);
            }
        });
    });
$('#nav-general').tab('show');


{% endblock %}
