{% extends 'base_uswds_with_sidebar.html' %}
{% load static %}

{% block sidenav_first_item %}
    {{ block.super }}
    <ul class="usa-sidenav__sublist">
        {% for tab, tab_name in tabs.items %}
            <li class="usa-sidenav__item">
                <a href="#{{ tab }}">{{tab_name}}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block mainbar %}

<h1 class="text-primary">Acquisition properties</h1>

{% include 'form_status.html' %}

<form action="{% url 'package' package_id=package.id %}" method="POST">
    {% csrf_token %}

    {% include 'form.html' %}

    <div class="grid-row flex-align-center margin-top-3 padding-y-4 position-sticky bottom-0 bg-white dda-fade__above border-top-1px border-base-light">
        <button class="usa-button"{% if not can_edit %} disabled{% endif %}>Save properties</button>
        {% if not can_edit %}<span class="usa-hint">You cannot edit this package.</span>{% endif %}
        <button class="usa-button usa-button--outline js-update-content" type="button"{% if not can_push %} disabled{% endif %}>Update content</button>
        {% if not can_push %}<span class="usa-hint">You cannot push updates to the content of this package.</span>{% endif %}

        {% if trello_url %}
            <a href="{{trello_url}}" target="trello" rel="noopener noreferrer" class="usa-button usa-button--unstyled">
                Trello card
            </a>
        {% endif %}
    </div>
</form>

<script>
    $('.js-update-content').on('click', function () {
        $.ajax({
            url: "{% url 'package' package_id=package.id %}",
            type: "PUT",
            headers: { 'X-CSRFToken': $('[name=csrfmiddlewaretoken]').val() },
            cache: false,
            success: function (resp) {
                alert(resp.status);
            }
        });
    });
</script>

{% endblock %}
