{% for key, value in items %}
    {% if key == 'files' %}
        {% for item in value %}
            <li class="usa-sidenav__item">
                {% url 'file' file_id=item.id as link %}
                <a href="{{ link }}" class="{% if link == request.path %}usa-current{% endif %}">
                    {{ item.name }}
                </a>
            </li>
        {% endfor %}
    {% else %}{% comment %} key = Folder object {% endcomment %}
        <li class="usa-sidenav__item">
            <button class="usa-accordion__button" aria-controls="sidenav-folder-{{key.id}}">
                {{ key.name }}
            </button>
            <ul class="usa-sidenav__sublist" id="sidenav-folder-{{key.id}}">
                {% include 'sidebar_item.html' with items=value.items %}
            </ul>
        </li>
    {% endif %}
{% endfor %}
